@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat:wght@400;500;600&family=Roboto+Mono:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background: #101827;
  /* background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 212, 255, 1) 100%,
    rgba(1, 0, 5, 1) 100%
  ); */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-family: 'Bree Serif', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto Mono', monospace;
} */

.gradient {
  background-color: #2b4162;
  background-image: linear-gradient(310deg, #2d4364 0%, #282d2b 34%);
}
